.contact-left h1 strong {
    display: block;
    color: #777;
    font-size: 1.6rem;
}
.contact-left h1 span {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}
.contact-left ul {
    padding: 0;
}
.contact-left li {
    display: block;
    padding: 10px;
    color: #777;
    margin-top: 10px;
}
.contact-left li a {
    color: #777;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}
.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    padding-right: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}